/*==========================
RANKING
===========================*/

.ranking-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.12);

transition:.4s;

height:100%;

}

.ranking-card:hover{

transform:translateY(-8px);

}

.ranking-img{

width:100%;

height:220px;

object-fit:cover;

}

.ranking-body{

padding:20px;

text-align:center;

}

.ranking-body h4{

font-weight:bold;

margin-bottom:15px;

}

.ranking-body p{

font-size:15px;

margin-bottom:10px;

}

.badge{

font-size:15px;

padding:10px 20px;

border-radius:25px;

}