/*================ PODIUM =================*/

.podium{

background:white;

border-radius:20px;

padding:20px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,.15);

}

.podium img{

width:100%;

height:180px;

object-fit:cover;

border-radius:15px;

}

.juara1{

background:#FFD700;

transform:scale(1.1);

}

.juara2{

background:#C0C0C0;

margin-top:70px;

}

.juara3{

background:#CD7F32;

margin-top:120px;

}

/*================ RANKING =================*/

.ranking-card{

background:#fff;

border-radius:15px;

overflow:hidden;

box-shadow:0 10px 20px rgba(0,0,0,.1);

transition:.3s;

height:100%;

}

.ranking-card:hover{

transform:translateY(-8px);

}

.ranking-card img{

width:100%;

height:180px;

object-fit:cover;

}

.ranking-body{

padding:15px;

text-align:center;

}

.ranking-body h4{

font-size:18px;

font-weight:bold;

}

.ranking-body h5{

color:#0d6efd;

font-size:22px;

}
